.contact-form {
  h2 {
    margin-bottom: 40px;
    font-size: 28px;
  }

  .form-group {
    margin-bottom: 30px;

    label {
      color: $primaryColor;
      font-weight: 500;
    }
  }

  input[type='text'], input[type='email'], input[type='tel'] {
    padding: 8px 20px 8px 0;
    border: 1px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #bbbbbb;
    font-size: 16px;
    outline: none;
    box-shadow: none;
    color: $primaryColor;
    background-color: #F7F8FC;

    &:focus {
      border: 1px solid $primaryColor;
    }
  }
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.btn-default {
  background-color: $secondaryColor;
  color: #fff;
}

.btn-primary {
  background-color: $primaryColor;
  color: #fff;
}

.contact-row {
  background-color: #F7F8FC;

}

.contact-info {
  color: #fff;
  text-align: center;
  background: linear-gradient(rgba(17, 113, 175, 0.1), rgba(17, 113, 175, 0.1)), url(/wp-content/uploads/contact-logo-background.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    color: #fff;
  }

  a {
    color: #fff;

    &:active, &:hover, &:focus {
      text-decoration: underline;
    }
  }

}

.contact-info-inner {
  background-color: rgba($primaryColor, 0.8);
  padding: 20px;
}

.contact-left {
  margin-bottom: 50px;
}

.contact-form {
  .btn-primary {
    font-weight: 500;
  }
}

@media screen and (min-width: 1144px) {
  .contact-form {
    .btn-primary {
      width: 100%;
      font-size: 20px;
    }
  }

  .contact-info-inner {
    background-color: rgba(17, 113, 175, 0.8);
    padding: 60px 30px;
  }

  .contact-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -55px;
    margin-left: -55px;
    align-items: center;
    padding-left: 0;
    padding-right: 40px;

    > * {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }

    form > .row {
      margin-left: -15px !important;
      margin-right: -15px !important;
    }
  }
  .contact-left {
    max-width: 55%;
    flex: 0 0 55%;
    margin-bottom: 0;
  }
  .contact-right {
    max-width: 45%;
    flex: 0 0 45%;
  }
}
