.floating-button {
  position: fixed;
  top: 52%;
  right: -35px;
  transform: rotate(270deg);
  z-index: 99;

  a {
    background-color: #1171AF;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
  }
}

@media (min-width: 1154px) {
  .floating-button {
    right: -44px;

    a {
      font-size: 18px;
    }
  }
}