/*.site-container {
  padding-top: 104px;
}*/
.genesis-nav-menu {
  font-family: 'Roboto', sans-serif;
}
.site-header {
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9999;

  .wrap {
    padding: 5px 0;
    max-width: 100%;
  }

  .widget-area {
    float: left;
    text-align: left;
  }
}

.site-header.affix {
  box-shadow: 0px 2px 2px 0px #ddd;
}

.site-header.active {

}

.home {
  .site-container {
    padding-top: 0;
  }

  .site-header {
    .nav-primary {
      background-color: transparent !important;
      margin-top: 13px;
    }

    .wrap {
      background-color: transparent;
    }

    > .wrap {
      transition: background-color 0.4s ease-in-out;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  .site-header.affix > .wrap {
    background-color: rgba(255, 255, 255, 1);
  }
}

.header-image .site-title {
  text-indent: 0;
  font-size: 12px;
  padding: 0 20px;

  > a {
    background-position: center !important;
    background-size: contain !important;
  }

}

.responsive-menu-icon {
  min-width: 60px;
  position: absolute;
  top: 7px;
  right: 15px;

  &:before {
    font-size: 42px;
    color: #000;

  }
}

.nav-primary .genesis-nav-menu.responsive-menu.active {

}

@media only screen and (min-width: 1154px) {
  /*.genesis-nav-menu #menu-item-99179 .sub-menu .sub-menu {
    margin: -52px 0 0 -199px;
  }*/

  .site-header {
    .widget-area {
      width: calc(100% - 320px);
    }
    .title-area{
      width: 320px;
    }

    .menu {
      display: flex;
      align-items: center;

      li:last-child {
        justify-self: right;
        margin-left: auto;
        font-size: 24px;

        > a {
          &:before, &:after {
            display: none !important;
          }
        }
      }
    }
  }


}

@media only screen and (max-width: 1153px) {
  .site-container {
    padding-top: 0;
  }

  .site-header {
    position: relative !important;
  }

  .title-area {
    padding-top: 5px;
  }

  .mobile-cta {
    font-size: 1em;
    display: flex !important;
    justify-content: center;

    > * {
      padding: 0 20px;
    }
  }

  .header-image .site-title {
    > a {
      background-position: left top !important;
      min-height: 50px;
    }
  }
}