.header-image .site-title {
  text-indent: 0;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  > a {
    background-position: left center !important;
    max-width: 200px;
  }
}

.sub-menu-title{
  display: none;
}

.responsive-menu-icon {
  min-width: 60px;

  &:before {
    font-size: 40px;
  }
}

.current-menu-item > a {
  font-weight: 900 !important;
}


@media (min-width: 1154px) {
  body.home {
    overflow-x: hidden;

    .genesis-nav-menu > .menu-item:hover > .sub-menu {
     /* left: calc((-100vw + 1144px) / (2));
      padding: 40px calc((100vw - 1144px) / 2);
      width: 100vw;*/
    }
  }

  #genesis-nav-primary.nav-primary {
    margin-top: 0;
  }
  .header-image .site-title {
    > a {
      max-width: none;
      min-width: 300px;
    }
  }
  .genesis-nav-menu a {
    padding: 40px 09px;
  }

  .genesis-nav-menu > .menu-item:hover {
    > .sub-menu {
      position: absolute;
      width: 100%;
      left: 0;
      padding: 80px calc((100% - 1144px) / 2) 40px calc((100% - 1144px) / 2);
      top: 104px;
      display: flex;
      flex-wrap: wrap;
      min-height: 460px;
    }

    .sub-menu-inner {
      flex: 0 0 33.33333333%;

      > li {
        display: block;

        > a {
          border: 0;
          position: relative;
          width: 325px;
          font-size: 16px;
          font-weight: 500;
          padding-left: 0;
          border-bottom: 1px solid #fff;


          &:before, &:after {
            display: none;
          }

          /*> span.arrow {
            padding-left: 30px;
            vertical-align: middle;
            font-size: 1.5em;
          }*/
        }

        > .sub-menu {
          position: relative;
          margin: 10px 0 20px 0;
          border-top: 0;
          display: none;
          opacity: 1;
          left: auto;
          width: 300px;
          > li {
            display: block;
            a {
              border: 0;
              padding: 5px 0 5px 10px;
              font-size: 14px;
              width: auto;
              max-width: 320px;
            }
          }
        }
      }
    }
  }

  .sub-menu-inner {

  }

  .chevron::before {
    border-style: solid;
    border-width: 0px 2px 2px 0;
    content: '';
    display: inline-block;
    height: .6em;
    right: -20px;
    position: relative;
    top: 8px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: .6em;
    float: right;
    transition: transform 0.4s ease, top 0.4s ease;
  }

  .active .chevron::before {
    top: 10px;
    transform: rotate(-135deg);
  }
  .sub-menu-title {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    z-index: 9;
    top: 40px;
    display: block;
  }

}

@media (max-width: 1143px) {
  .mobile-cta {
    display: flex !important;
    align-items: center;
    justify-content: space-around;
  }
}


