.header-image .site-title {
  text-indent: 0;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; }
  .header-image .site-title > a {
    background-position: left center !important;
    max-width: 200px; }

.sub-menu-title {
  display: none; }

.responsive-menu-icon {
  min-width: 60px; }
  .responsive-menu-icon:before {
    font-size: 40px; }

.current-menu-item > a {
  font-weight: 900 !important; }

@media (min-width: 1154px) {
  body.home {
    overflow-x: hidden; }
    body.home .genesis-nav-menu > .menu-item:hover > .sub-menu {
      /* left: calc((-100vw + 1144px) / (2));
       padding: 40px calc((100vw - 1144px) / 2);
       width: 100vw;*/ }

  #genesis-nav-primary.nav-primary {
    margin-top: 0; }

  .header-image .site-title > a {
    max-width: none;
    min-width: 300px; }

  .genesis-nav-menu a {
    padding: 40px 09px; }

  .genesis-nav-menu > .menu-item:hover > .sub-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 80px calc((100% - 1144px) / 2) 40px calc((100% - 1144px) / 2);
    top: 104px;
    display: flex;
    flex-wrap: wrap;
    min-height: 460px; }
  .genesis-nav-menu > .menu-item:hover .sub-menu-inner {
    flex: 0 0 33.33333333%; }
    .genesis-nav-menu > .menu-item:hover .sub-menu-inner > li {
      display: block; }
      .genesis-nav-menu > .menu-item:hover .sub-menu-inner > li > a {
        border: 0;
        position: relative;
        width: 325px;
        font-size: 16px;
        font-weight: 500;
        padding-left: 0;
        border-bottom: 1px solid #fff;
        /*> span.arrow {
          padding-left: 30px;
          vertical-align: middle;
          font-size: 1.5em;
        }*/ }
        .genesis-nav-menu > .menu-item:hover .sub-menu-inner > li > a:before, .genesis-nav-menu > .menu-item:hover .sub-menu-inner > li > a:after {
          display: none; }
      .genesis-nav-menu > .menu-item:hover .sub-menu-inner > li > .sub-menu {
        position: relative;
        margin: 10px 0 20px 0;
        border-top: 0;
        display: none;
        opacity: 1;
        left: auto;
        width: 300px; }
        .genesis-nav-menu > .menu-item:hover .sub-menu-inner > li > .sub-menu > li {
          display: block; }
          .genesis-nav-menu > .menu-item:hover .sub-menu-inner > li > .sub-menu > li a {
            border: 0;
            padding: 5px 0 5px 10px;
            font-size: 14px;
            width: auto;
            max-width: 320px; }

  .chevron::before {
    border-style: solid;
    border-width: 0px 2px 2px 0;
    content: '';
    display: inline-block;
    height: .6em;
    right: -20px;
    position: relative;
    top: 8px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: .6em;
    float: right;
    transition: transform 0.4s ease, top 0.4s ease; }

  .active .chevron::before {
    top: 10px;
    transform: rotate(-135deg); }

  .sub-menu-title {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    z-index: 9;
    top: 40px;
    display: block; } }
@media (max-width: 1143px) {
  .mobile-cta {
    display: flex !important;
    align-items: center;
    justify-content: space-around; } }
/*.site-container {
  padding-top: 104px;
}*/
.genesis-nav-menu {
  font-family: 'Roboto', sans-serif; }

.site-header {
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9999; }
  .site-header .wrap {
    padding: 5px 0;
    max-width: 100%; }
  .site-header .widget-area {
    float: left;
    text-align: left; }

.site-header.affix {
  box-shadow: 0px 2px 2px 0px #ddd; }

.home .site-container {
  padding-top: 0; }
.home .site-header .nav-primary {
  background-color: transparent !important;
  margin-top: 13px; }
.home .site-header .wrap {
  background-color: transparent; }
.home .site-header > .wrap {
  transition: background-color 0.4s ease-in-out;
  background-color: rgba(255, 255, 255, 0.8); }
.home .site-header.affix > .wrap {
  background-color: white; }

.header-image .site-title {
  text-indent: 0;
  font-size: 12px;
  padding: 0 20px; }
  .header-image .site-title > a {
    background-position: center !important;
    background-size: contain !important; }

.responsive-menu-icon {
  min-width: 60px;
  position: absolute;
  top: 7px;
  right: 15px; }
  .responsive-menu-icon:before {
    font-size: 42px;
    color: #000; }

@media only screen and (min-width: 1154px) {
  /*.genesis-nav-menu #menu-item-99179 .sub-menu .sub-menu {
    margin: -52px 0 0 -199px;
  }*/
  .site-header .widget-area {
    width: calc(100% - 320px); }
  .site-header .title-area {
    width: 320px; }
  .site-header .menu {
    display: flex;
    align-items: center; }
    .site-header .menu li:last-child {
      justify-self: right;
      margin-left: auto;
      font-size: 24px; }
      .site-header .menu li:last-child > a:before, .site-header .menu li:last-child > a:after {
        display: none !important; } }
@media only screen and (max-width: 1153px) {
  .site-container {
    padding-top: 0; }

  .site-header {
    position: relative !important; }

  .title-area {
    padding-top: 5px; }

  .mobile-cta {
    font-size: 1em;
    display: flex !important;
    justify-content: center; }
    .mobile-cta > * {
      padding: 0 20px; }

  .header-image .site-title > a {
    background-position: left top !important;
    min-height: 50px; } }
.contact-form h2 {
  margin-bottom: 40px;
  font-size: 28px; }
.contact-form .form-group {
  margin-bottom: 30px; }
  .contact-form .form-group label {
    color: #1171AF;
    font-weight: 500; }
.contact-form input[type='text'], .contact-form input[type='email'], .contact-form input[type='tel'] {
  padding: 8px 20px 8px 0;
  border: 1px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #bbbbbb;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  color: #1171AF;
  background-color: #F7F8FC; }
  .contact-form input[type='text']:focus, .contact-form input[type='email']:focus, .contact-form input[type='tel']:focus {
    border: 1px solid #1171AF; }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.btn-default {
  background-color: #46AD4C;
  color: #fff; }

.btn-primary {
  background-color: #1171AF;
  color: #fff; }

.contact-row {
  background-color: #F7F8FC; }

.contact-info {
  color: #fff;
  text-align: center;
  background: linear-gradient(rgba(17, 113, 175, 0.1), rgba(17, 113, 175, 0.1)), url(/wp-content/uploads/contact-logo-background.jpg) center;
  background-repeat: no-repeat;
  background-size: cover; }
  .contact-info h2 {
    color: #fff; }
  .contact-info a {
    color: #fff; }
    .contact-info a:active, .contact-info a:hover, .contact-info a:focus {
      text-decoration: underline; }

.contact-info-inner {
  background-color: rgba(17, 113, 175, 0.8);
  padding: 20px; }

.contact-left {
  margin-bottom: 50px; }

.contact-form .btn-primary {
  font-weight: 500; }

@media screen and (min-width: 1144px) {
  .contact-form .btn-primary {
    width: 100%;
    font-size: 20px; }

  .contact-info-inner {
    background-color: rgba(17, 113, 175, 0.8);
    padding: 60px 30px; }

  .contact-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -55px;
    margin-left: -55px;
    align-items: center;
    padding-left: 0;
    padding-right: 40px; }
    .contact-row > * {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px; }
    .contact-row form > .row {
      margin-left: -15px !important;
      margin-right: -15px !important; }

  .contact-left {
    max-width: 55%;
    flex: 0 0 55%;
    margin-bottom: 0; }

  .contact-right {
    max-width: 45%;
    flex: 0 0 45%; } }
.floating-button {
  position: fixed;
  top: 52%;
  right: -35px;
  transform: rotate(270deg);
  z-index: 99; }
  .floating-button a {
    background-color: #1171AF;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold; }

@media (min-width: 1154px) {
  .floating-button {
    right: -44px; }
    .floating-button a {
      font-size: 18px; } }
.gallery {
  overflow: hidden;
  margin-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */
